:host {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    
    p {
        padding-top: 5px;
        font-size: 1.1rem;
        text-align: center;
    }

    a {
        font-style: italic;
    }

    .text-container {
        h1 {
            text-align: center;
        }

    }
}